@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.IsInRole("CEO"))
{
    <h1>CEO</h1>
}
@if (User.IsInRole("Developer"))
{
    <h1>Dev</h1>
}

@if (User.IsInRole("TeamLead"))
{
    <h1>TemLead</h1>
}
@if (User.IsInRole(""))
{
    <h1>No ROle</h1>
}
